body{
  background-color: #282c34;
}

.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
  }

.Card--container{
  width:320px;
  height: 800px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#1A1B21;
  border:4px solid white;
  border-radius: 9px;
}

.Author-img{
  width: 200px;
  margin: 10px;
}

.Author--titel{
  font-family: Inter;
  font-weight: 700px;
  font-size: 25px;
  line-height: 10px;
  text-align: center;
}

.Author--job{
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  color:#F3BF99;
}

.Contact--btn{
  display: flex;
  gap: 20px;
  justify-content: center;
}
.hero{
  margin-bottom: 10px;
}

.Section--info{
  text-align: left;
}

.About-text{
  font-size: 18px;
  font-weight: 300;
}

.Footer--conatiner{
  display: flex;
  flex-direction: row;
  justify-content:center;
  gap: 25px;
  width: 100%;
}

.Footer--icon{
  height: 30px;
}